<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">
      <img class="logo-white" src="{{ "/assets/logo-white.svg" | relative_url }}" alt="{{ site.title | escape }}" width="148" height="37">
      <img class="logo-black" src="{{ "/assets/logo-gray.svg" | relative_url }}" alt="{{ site.title | escape }}" width="148" height="37">
    </a>  
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ "/about/#about-me" | relative_url }}">About me</a>
            <a class="dropdown-item" href="{{ "/about/#host-institution" | relative_url }}">Host Institution</a>
            <a class="dropdown-item" href="{{ "/about/#usefull-links" | relative_url }}">Useful Links</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle no-uppercase" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            PhD RESEARCH
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ "/phd/#title" | relative_url }}">Title</a>
            <a class="dropdown-item" href="{{ "/phd/#supervisor-team" | relative_url }}">Supervisor Team</a>
            <a class="dropdown-item" href="{{ "/phd/#context" | relative_url }}">Context</a>
            <a class="dropdown-item" href="{{ "/phd/#literature-review | relative_url }}">Literature Review</a>
            <a class="dropdown-item" href="{{ "/phd/#research-questions" | relative_url }}">Research Questions</a>
            <a class="dropdown-item" href="{{ "/phd/#methodology" | relative_url }}">Methodology</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/posts" | relative_url }}">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/publications" | relative_url }}">Publications</a>
        </li>        

        <li class="nav-item">
          <a class="nav-link" href="{{"/contact" | relative_url }}">Contact</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
