<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">
      <img class="logo-white" src="{{ "/assets/logo-white.svg" | relative_url }}" alt="{{ site.title | escape }}" width="148" height="37">
      <img class="logo-black" src="{{ "/assets/logo-gray.svg" | relative_url }}" alt="{{ site.title | escape }}" width="148" height="37">
    </a>  
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ "/about/" | relative_url }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="if (window.innerWidth > 768) location.href=this.href;">
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ "/about/#about-me" | relative_url }}">About me</a>
            <a class="dropdown-item" href="{{ "/about/#host-institution" | relative_url }}">Host Institution</a>
            <a class="dropdown-item" href="{{ "/about/#useful-links" | relative_url }}">Useful Links</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle no-uppercase" href="{{"/phd" | relative_url }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="if (window.innerWidth > 768) location.href=this.href;">
            PhD RESEARCH
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ "/phd/#introduction" | relative_url }}">Introduction</a>
            <a class="dropdown-item" href="{{ "/phd/#research-framework" | relative_url }}">Research Framework</a>

          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/posts" | relative_url }}">Posts</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ "/research-dissemination" | relative_url }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="if (window.innerWidth > 768) location.href=this.href;">
            Research Dissemination
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ "/research-dissemination/#publications" | relative_url }}">Publications</a>
            <a class="dropdown-item" href="{{ "/research-dissemination/#talks" | relative_url }}">Talks & Presentations</a>
            <a class="dropdown-item" href="{{ "/research-dissemination/#posters" | relative_url }}">Posters</a>
            <a class="dropdown-item" href="{{ "/research-dissemination/#workshops" | relative_url }}">Workshops & Panels</a>
            <a class="dropdown-item" href="{{ "/research-dissemination/#media" | relative_url }}">Media & Interviews</a>
            <a class="dropdown-item" href="{{ "/research-dissemination/#engagement" | relative_url }}">Public Engagement</a>
            <a class="dropdown-item" href="{{ "/research-dissemination/#reports" | relative_url }}">Reports & White Papers</a>
            <a class="dropdown-item" href="{{ "/research-dissemination/#software" | relative_url }}">Software & Datasets</a>
          </div>
        </li>
        
               
        <li class="nav-item">
          <a class="nav-link" href="{{"/contact" | relative_url }}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
